<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Hostel Attendance Management System</title>
    
</head>

<body style= "background:url(https://wallpapercave.com/wp/wp5210357.jpg); background-repeat:no-repeat; background-attachment:fixed; background-size:100% 100%;">
  <header class="text-gray-600 body-font">
    <div class="bg-black-500">
      
      <div class="container mx-auto py-8 px-6 flex flex-wrap flex-col sm:flex-row">
        
        {% if messages %}
        {% for message in messages %}
        <div id="alert_box" class="w-full bg-green-100 border border-green-400 text-black-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">{{message}}</span>
          <span id="close_button" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-black-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          </span>
        </div>
        {% endfor %}
        {% endif %}
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      
      <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
        
      </nav>
      <a class="flex order-first lg:order-none lg:w-1/5 title-font font-large items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
        
        <span class="ml-3 text-4xl text-pink-100"><b>ATTENDANCE</b></span>
      </a>
      <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
        
      </div>
    </div>
  </header>
  
  
  <div class="px-8 py-16">
    <div class="grid gap-8 items-start justify-center">
      <div class="relative group">
        <div class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
        <a href="{% url 'hostel_dashboard' %}">
        <button class="relative px-7 py-4 bg-black rounded-lg leading-none flex items-center divide-x divide-gray-600">
          <span class="flex items-center space-x-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-pink-600" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
              </svg>
            <span class="pr-6 text-gray-100">Hostel Authority Dashboard</span>
          </span>
          <span class="pl-6 text-indigo-400 group-hover:text-gray-100 transition duration-200">Login here &rarr;</span>
        </button>
        </a>
      </div>
    </div>
  </div>
  <div class="px-8 py-16">
    <div class="grid gap-8 items-start justify-center">
      <div class="relative group">
        <div class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
        <a href="/admin">
        <button class="relative px-7 py-4 bg-black rounded-lg leading-none flex items-center divide-x divide-gray-600">
          <span class="flex items-center space-x-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-pink-600" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
              </svg>
            <span class="pr-6 text-gray-100">College Authority Dashboard</span>
          </span>
          <span class="pl-6 text-indigo-400 group-hover:text-gray-100 transition duration-200">Login here &rarr;</span>
        </button>
        </a>
      </div>
    </div>
  </div>
  <div class="px-8 py-16">
    <div class="grid gap-8 items-start justify-center">
      <div class="relative group">
        <div class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
        <a href="{% url 'view_attendance' %}">
        <button class="relative px-7 py-4 bg-black rounded-lg leading-none flex items-center divide-x divide-gray-600">
          <span class="flex items-center space-x-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-pink-600" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd" />
              </svg>
            <span class="pr-6 text-gray-100">                   Daily Attendance</span>
          </span>
          <span class="pl-6 text-indigo-400 group-hover:text-gray-100 transition duration-200">See now &rarr;</span>
        </button>
        </a>
      </div>
    </div>
  </div>
  





  <form action="/contact/" method="POST">
  {% csrf_token %}
  <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-pink-200">Contact Us</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-pink-200">Contact us for any queries regarding your attendance.</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-pink-200">Name</label>
              <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-sm text-pink-200">E-mail (Thapar ID)</label>
              <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-pink-200">Query</label>
              <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-pink-600 border-0 py-2 px-8 focus:outline-none hover:bg-pink-300 rounded text-lg">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
  
  
  
  
  
  
  
  <footer class="text-pink-200 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <span class="ml-3 text-xl text-pink-100">Attendance</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Attendance —
        <a href="https://www.thapar.edu/" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@Thapar.edu</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-pink-200">
          <a href="https://www.facebook.com/officialTIET/"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg></a>
          
        </a>
        <a class="ml-3 text-pink-200">
          <a class="text-pink-200">
            <a href="https://twitter.com/TIETofficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
               <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-pink-200">
          <a class="text-pink-200">
            <a href="https://www.instagram.com/tietofficial/?hl=en"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-0" viewBox="0 0 24 24">
               </svg>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-pink-200">
          <a class="text-pink-200">
            <a href="https://www.linkedin.com/school/tietofficial/?originalSubdomain=in"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-0" viewBox="0 0 24 24">
               </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>

  <script>
    document.getElementById('close_button').onclick = function() {
     document.getElementById('alert_box').style.display = "none";
    }
    </script>

</body>
</html>